{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="py-3 text-center" >
  <h2><span style="color:red">All About</span> <span style="color:green"><b>Hospital </b></span></h2>

    
   <p >A hospital is a place where a person goes to be healed when he or
		she is sick or injured. Hospitals also treat people who do not stay
		overnight, called outpatients. Doctors and nurses work at hospitals.
		Doctors make use of advanced medical technology to heal patients.<br>
	   A hospital is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[2] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. A district hospital typically is the major health care facility in its region, with many beds for intensive care and additional beds for patients who need long-term care. Specialized hospitals include trauma centers, rehabilitation hospitals, children's hospitals, seniors' (geriatric) hospitals, and hospitals for dealing with specific medical needs such as psychiatric treatment (see psychiatric hospital) and certain disease categories. Specialized hospitals can help reduce health care costs compared to general hospitals.[3] Hospitals are classified as general, specialty, or government depending on the sources of income received.
	</p>
	 <img src="https://thumbs.dreamstime.com/b/hospital-building-modern-parking-lot-59693686.jpg" width="1550px" height="850px">
</div>  

<div class="py-3 text-center" >
  <h4><span style="color:red">All About</span> <span style="color:green"><b>Doctor & Nourse</b></span></h4>

    
   <p >A hospital is a place where a person goes to be healed when he or
		she is sick or injured. Hospitals also treat people who do not stay
		overnight, called outpatients. Doctors and nurses work at hospitals.
		Doctors make use of advanced medical technology to heal patients.<br>
	   A hospital is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[2] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. A district hospital typically is the major health care facility in its region, with many beds for intensive care and additional beds for patients who need long-term care. Specialized hospitals include trauma centers, rehabilitation hospitals, children's hospitals, seniors' (geriatric) hospitals, and hospitals for dealing with specific medical needs such as psychiatric treatment (see psychiatric hospital) and certain disease categories. Specialized hospitals can help reduce health care costs compared to general hospitals.[3] Hospitals are classified as general, specialty, or government depending on the sources of income received.
	</p>
	 <img src="https://www.thechicagoschool.edu/insightadmin/2021/04/conahp-types-of-nurses-1.jpg" width="1550px" height="850px">
</div>  

<div class="py-3 text-center" >
   <h4><span style="color:red">All About</span> <span style="color:green"><b>Sweeper</b></span></h4>
  <p>A Hospital cleaner a cleaning operative is a type of industrial or
		domestic worker who cleans homes,commercial premises and also clean
		the Hospital Plateform.A cleaner is someone who takes
		away garbage and cleans surfaces. Cleaners sometimes repair things,
		and maintain their equipment in good working.</p>  
    
  
	 <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/08/27/16/NHS-hospital-cleaner.jpg?width=1200" width="1550px" height="850px">
</div>  

{% endblock%}