
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hospital Management{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg  d-fixed  d-center justify-center navbar-info bg-info"
    >
      <div class="container">
        <a class="navbar-brand text-light" href="/"><h2><strong>Hospital Management </strong></h2></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav  me-auto mb-2 mb-lg-2 px-5">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="/"><h3> Home </h3></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><h3> About Us</h3> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><h3> Contact </h3></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h3>Reception</h3>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/doctor">Doctors</a></li>
                <li><a class="dropdown-item" href="/patient">patient</a></li>

              </ul>
            </li>

            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h3> Signup</h3>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/signup">Signup</a></li>
                <li><a class="dropdown-item" href="/login">Login</a></li>

                <li><a class="dropdown-item" href="/login">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }}alert-dismissible fade show my-0"
      role="alert"
    >
      <stronge>{{ message }}</stronge>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% block body %}{% endblock body %}
  </body>
</html>
